body {
    font-family: 'Arial', sans-serif;
    background-color: #eceff1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 100px; /* Asumiendo que tienes un logo con esta dimensión */
}

a {
    text-decoration: none;
    color: white;
}